/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.active {
  /* background-color: #000000; */
  animation-name: fill;
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* The animation code */
@keyframes fill {
  from {
  }
  to {
    background-color: black;
  }
}
